boto3
sagemaker
pandas
numpy
scikit-learn
joblib
pytest

openai
dotenv
smolagents[toolkit]
wikipedia-api

langchain
langgraph
langchain-openai
langchain_experimental
langsmith
faiss-cpu
llama-index-core
llama-index-embeddings-huggingface
sentence-transformers
matplotlib

pymupdf
llama-index-readers-file
llama-index-retrievers-bm25
llama-index-llms-openai